<!-- 
pluralize is a Rails method that returns the plural form of the word in the string.
if the first parameter count is specified, the singular form of the string will be  
returned if count == 1. for any other value of count the plural will be returned.
count is a Ruby method that returns the number of elements in the array of movie
objects.
-->
<h1>View Actor's <%= pluralize(@movies.count, "Movie") %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Duration</th>
			<th scope="col">Rating</th>
			<th scope="col">Release Date</th>
		</tr>
	</thead>
	<tbody>
<!-- 
each is a Ruby method that iterates over a code block for each element
in the array of actor objects. 
-->
		<% @movies.each do |movie| %>
		<tr>
			<td><%= movie.title %></td>
			<td><%= movie.duration %></td>
			<td><%= movie.rating %></td>
			<td><%= movie.release_date.strftime("%Y-%m-%d") %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<!-- <a href="/actors">View Actors</a> -->